.intro-container {
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("HomeBackground.jpg"); */
  /* background-color: beige; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.intro {
  width: 75%;
  display: flex;
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  justify-content: flex-start;
  transform: scale(0.7) translateX(-30%);
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
